
# Server
SERVER_URL=http://localhost:1337
HOST=0.0.0.0
PORT=1337

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cms_odeaanschiedam?sslmode=disable
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=cms_odeaanschiedam
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
JWT_SECRET=b/QdnEtNH4rnuK24KaAhgQ==
