@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

// Color palette
$sunny-yellow: #FDC300;
$sunny-yellow--light: #FFE37E;

$fiery-red: #851328;
$fiery-red--light: #E73331;

$leafy-green: #2EAC66;
$leafy-green--light: #95C11F;

$sky-blue: #1960AB;
$sky-blue--light: #A1DAF8;

$royal-purple: #6F6BAF;
$royal-purple--light: #702283;

$sunset-orange: #E9531D;
$sunset-orange--light: #EF7D00;

$just-black: #000000;
$just-white: #ffffff;

$mobile-width: 700px;

// Use for Headers
@font-face {
    font-family: Gotham-Black;
    src: url('/fonts/Gotham/Gotham-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

// Use for normal text
@font-face {
    font-family: Gotham-Book;
    src: url('/fonts/Gotham/Gotham-Book.ttf');
    font-weight: normal;
    font-style: normal;
}

// Use for higlighted text
@font-face {
    font-family: Gotham-Bold;
    src: url('/fonts/CustomFont-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

// Animations 
@keyframes loading {
    0% {
        background-size: 100% 0, 0 100%
    }

    30%,
    50% {
        background-size: 100% 0, 100% 100%
    }

    80%,
    100% {
        background-size: 100% 100%, 100% 100%
    }
}

@keyframes curtain-up {
    from {
        background: linear-gradient(to left, $sunny-yellow, $sunny-yellow--light);
        height: 100vh;
    }

    to {
        background: $sunny-yellow;
        height: 10vh;
    }
}

@keyframes curtain-down {
    from {
        height: 10vh;
    }

    to {
        height: 45vh;
    }
}

@keyframes animate-splash {
    from {
        height: 400px;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sparkle {

    0%,
    100% {
        transform: scale(1) rotate(45deg);
    }

    50% {
        transform: scale(0.8) rotate(45deg);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// Basic resets
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

// Basic backgrounds 
.bg-sunny-yellow {
    background-color: $sunny-yellow;
    color: $just-black;

    a {
        color: $sky-blue !important;
        border-bottom: 1px solid $sky-blue !important;
    }
}

.bg-sunny-yellow--light {
    background-color: $sunny-yellow--light;
}

.bg-fiery-red {
    background-color: $fiery-red;
    color: $sunny-yellow;
}

.bg-fiery-red--light {
    background-color: $fiery-red--light;
}

.bg-leafy-green {
    background-color: $leafy-green;
    color: $sunny-yellow;
}

.bg-leafy-green--light {
    background-color: $leafy-green--light;
}

.bg-sky-blue {
    background-color: $sky-blue;
    color: $just-white;
}

.bg-sky-blue--light {
    background-color: $sky-blue--light;
}

.bg-royal-purple {
    background-color: $royal-purple;
    color: $sunny-yellow;
}

.bg-royal-purple--light {
    background-color: $royal-purple--light;
}

.bg-sunset-orange {
    background-color: $sunset-orange;
}

.bg-sunset-orange--light {
    background-color: $sunset-orange--light;
}

.bg-just-black {
    background-color: $just-black;
    color: $sunny-yellow;
}

.bg-just-black--light {
    background-color: $just-white;
}

.bg-just-white {
    background-color: $just-white;
    color: $just-black;
}

.bg-just-white--light {
    background-color: $just-black;
}

// Loader 
/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    background:
        linear-gradient($sunny-yellow 0 0),
        linear-gradient($just-black 0 0),
        $sunny-yellow;
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
    rotate: 45deg;
}

// Site main navigation
.sidebar {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50vw;
    background-color: $just-black;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.open {
        transform: translateX(0);
    }

    @media (max-width: $mobile-width) {
        width: 80vw;
    }
}

.menu-button {
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
    width: 80px;
    height: 80px;
    background-color: $just-white;
    color: $just-black;
    border: none;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    :hover {
        transition: color 0.3s ease-in-out;
        color: $sunny-yellow;
    }

    &>span {
        font-size: 2em;
        transform: rotate(-45deg);
    }

    @media (max-width: $mobile-width) {
        width: 60px;
        height: 60px;

        &>span {
            font-size: 1.8em;
        }
    }
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 100px 3rem;

    &.open {
        display: block;
    }

    li {
        margin: 10px 0;

        a {
            font-family: 'Gotham-Black';
            font-size: xx-large;
            text-transform: uppercase;
            color: white;
            text-decoration: none;

            @media (max-width: $mobile-width) {
                font-size: x-large;

            }

            &:hover {
                color: $sunny-yellow;
            }
        }
    }
}

.active {
    color: $sunny-yellow !important;
}

// Site footer
.footer {
    height: auto;
    background: linear-gradient(to right, $royal-purple, $royal-purple--light);
    color: $just-white;
}

// Splash Screen
.splash-wrapper {
    height: 100vh;
}

.splash-screen {
    height: 100vh;
    background: linear-gradient(to left, $sunny-yellow, $sunny-yellow--light);
}

.curtain-up {
    height: 10vh;
    background-color: $sunny-yellow;
    animation-name: curtain-up;
    animation-duration: 3s;
}

.animate-splash {
    animation: animate-splash 2s ease-out forwards;
}

.splash-shield {
    overflow: hidden;
    background-color: $just-white;
    border-radius: 0% 0% 50% 50%;
    box-shadow: 0 15px 6px rgba(0, 0, 0, 0.3);
    height: 400px;
    max-width: 350px;

}

.splash-title {
    color: $just-black;
    font-family: 'Gotham-Black';
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;

    @media (max-width: $mobile-width) {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
}

.splash-logo {
    width: 75%;
    height: auto;
}

// Main hero
.hero {
    animation: curtain-down 1s ease-in-out forwards;

    .hero-content {
        opacity: 0;
        padding: 100px 10px 10px 10px;
        animation: slide-in-top 1s ease-in-out forwards;
        animation-delay: 0.2s;

        h1 {
            font-family: 'Gotham-Black';
        }

        p {
            font-family: 'Gotham-Book';
            max-width: 400px;
        }

        a {
            font-family: 'Gotham-Book';
            border-bottom: 1px solid $just-white;
            color: $just-white;
        }

        a:hover {
            color: #dfdbdb;
        }
    }
}

.hart {
    position: absolute;
    left: 10px;
    top: -20px;
    max-width: 200px;
    min-width: 150px;
    width: 30%;
    height: auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
    animation-delay: 3s;
    animation: slide-in-top 2s ease-out forwards;
}

// Page content for CMS data
.page-content {
    margin-top: 25px;
    // min-height: 80vh;
    width: 60vw;
    min-width: 350px;
    max-width: 880px;
    animation-delay: 1s;
    animation: fadeIn 1s ease-in forwards;

    @media (max-width: $mobile-width) {
        width: 100vw;
        padding: 5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Gotham-Black';
    }

    p,
    a,
    span,
    button,
    li {
        font-family: 'Gotham-Book';
    }
}

.home-container {
    margin-top: 0px;
    max-width: 1200px;
}

// Main Grid
.grid {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 2rem 0;
    justify-content: center;
    gap: 5rem;

    @media screen and (max-width: $mobile-width) {
        gap: 8rem;
    }
}

$grid__item_size: 200px;

.grid__item_wrapper {
    background-color: $sunny-yellow;
    height: $grid__item_size;
    width: $grid__item_size;
    margin: 0px 5px;

    @media screen and (max-width: $mobile-width) {
        height: 300px;
        width: 300px;
    }
}

.grid__item {
    font-family: 'Gotham-Black';
    height: $grid__item_size;
    width: $grid__item_size;
    rotate: 45deg;
    color: $sunny-yellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in;

    &:hover {
        transform: scale(1.1);
    }

    h1 {
        rotate: -45deg;
        font-size: 1.5em;
    }

    @media screen and (max-width: $mobile-width) {
        height: 300px;
        width: 300px;
    }
}

.grid__item--just-black {
    @extend .grid__item;
    background-color: $just-black;
}

.grid__item--just-white {
    @extend .grid__item;
    background-color: $just-white;
}

.grid__item--fiery-red {
    @extend .grid__item;
    background-color: $fiery-red;
}

.grid__item--leafy-green {
    @extend .grid__item;
    background-color: $leafy-green;
}

.grid__item--sky-blue {
    @extend .grid__item;
    background-color: $sky-blue;
}

.grid__item--sunny-yellow {
    @extend .grid__item;
    background-color: $sunny-yellow--light;
    color: $just-black;
}

.grid__item--royal-purple {
    @extend .grid__item;
    background-color: $royal-purple;
}

.grid__item--sunset-orange {
    @extend .grid__item;
    background-color: $sunset-orange;
}

.grid__item--random {
    @extend .grid__item;
    color: $just-white;
    background: radial-gradient($royal-purple,
            $sky-blue,
            $leafy-green,
            $sunny-yellow,
            $sunset-orange,
            $fiery-red,

        );
}

// Counter
.counter {
    background-color: $fiery-red--light;
    border: 1px solid brown;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation-delay: 1s;
    animation: slide-in-top 1s ease-out forwards;

    @media (max-width: $mobile-width) {
        gap: 0.3rem;
    }
}

.diamond-wrapper {
    gap: 10px;
    margin: 0 30px;

    @media (max-width: 780px) {
        display: block;
        margin: auto;

        .diamond {
            margin-top: 15px;
            padding: 10px;
        }
    }
}

.diamond-counter {
    z-index: 1;
    transform: rotate(45deg);
    background-color: $just-white;
    height: 250px;
    width: 250px;
    border: 1px solid $just-black;

    @media (max-width: $mobile-width) {
        height: 150px;
        width: 150px;
    }

    span {
        display: block;
        text-align: center;

        &.text {
            font-size: 1.5rem;

            @media (max-width: $mobile-width) {
                font-size: 1rem;
            }
        }

        &.number {
            color: $fiery-red--light;
            font-size: 3rem;
            font-weight: bold;

            @media (max-width: $mobile-width) {
                font-size: 2.5rem;
            }
        }
    }
}

.counter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    height: 250px;
    width: 250px;

    @media (max-width: $mobile-width) {
        height: 150px;
        width: 150px;
    }
}

// Little sparkling daimonds
.diamond {
    animation: sparkle 1s infinite;
    transform: rotate(45deg);
    height: 30px;
    width: 30px;

    @media (max-width: $mobile-width) {
        height: 15px;
        width: 15px;
    }
}

.diamond-purple {
    @extend .diamond;
    @extend .bg-royal-purple;
    animation-delay: 0.5s;
}

.diamond-yellow {
    @extend .diamond;
    @extend .bg-sunny-yellow;
    animation-delay: 0.3s;
}

.diamond-green {
    @extend .diamond;
    @extend .bg-leafy-green;
    animation-delay: 0.2s;
}

.diamond-blue {
    @extend .diamond;
    @extend .bg-sky-blue;
    animation-delay: 0.4s;
}

.diamond-orange {
    @extend .diamond;
    @extend .bg-sunset-orange;
    animation-delay: 0.1s;
}

.diamond-red {
    @extend .diamond;
    @extend .bg-fiery-red;
    animation-delay: 0s;
}

// CTA Block
.cta-bg--sunny-yellow {
    background: linear-gradient(to left, $sunny-yellow, $sunny-yellow--light);

    .cta-content {
        color: $just-black;
    }
}

.cta-bg--fiery-red {
    background: linear-gradient(to left, $fiery-red, $fiery-red--light);
}

.cta-bg--leafy-green {
    background: linear-gradient(to left, $leafy-green, $leafy-green--light);
}

.cta-bg--sky-blue {
    background: linear-gradient(to left, $sky-blue, $sky-blue--light);
}

.cta-bg--royal-purple {
    background: linear-gradient(to left, $royal-purple, $royal-purple--light);
}

.cta-bg--sunset-orange {
    background: linear-gradient(to left, $sunset-orange, $sunset-orange--light);
}

.cta-block {
    color: $just-white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: fit-content;
    max-width: 800px;
    margin: 15px auto;

    .cta-content {
        padding: 1rem;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-family: 'Gotham-Black';
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-family: 'Gotham-Book';
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .actions {
        a {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            margin: 0 0 2.5rem 0;
            text-decoration: none;
            font-family: 'Gotham-Black';
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            &:first-child {
                background-image: linear-gradient(to right, $sunny-yellow, $sunny-yellow--light);
                color: $just-black;

                &:hover {
                    background-color: $sunny-yellow--light;
                    color: $just-white;
                }
            }

            &:nth-child(2) {
                background-image: linear-gradient(to right, $sky-blue, $sky-blue--light);
                color: $just-white;

                &:hover {
                    background-color: $fiery-red;
                    color: $just-black;
                }
            }
        }
    }
}

// Image Block
.image-block {
    img {
        width: 100%;
        height: auto;
    }

    figcaption {
        font-family: 'Gotham-book';
    }
}

.mirror {
    direction: rtl;

    &>* {
        direction: ltr;
    }
}

// Text Block
.text-base {
    a {
        text-decoration: underline;
        color: $sky-blue;
    }

    ul {
        list-style-type: disc;
        margin-left: 25px;
    }

    ol {
        list-style: decimal;
        margin-left: 25px;
    }

    pre {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
        line-height: 1.5;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol {
        padding: 10px 0;
    }
}

// Image slider styling

.slideshow {
    width: 100%;

    @media screen and (max-width: $mobile-width) {
        max-height: 350px;
        overflow: hidden;
    }
}

.slideshow img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.slider-counter {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.slider-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    .active,
    .dot:hover {
        background-color: #717171;
    }
}



/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.6
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: $mobile-width) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

// Poem styling
.poem {

    // width: 100%;
    // box-shadow:-5px 5px 10px 1px $just-black; // x, y, blur, spread
    // padding: 10px;
    .text-base {
        width: 100%;
        margin: 0 auto;
        font-size: 1.2em;
    }

    p:first-child::first-letter {
        font-family: 'Gotham-Black';
        color: $fiery-red;
        font-weight: bold;
        font-size: 3em;
        padding-left: 1px;
    }
}

// Form
.form-card {
    margin: 1.5rem 0;
    animation: slide-in-right 1s ease-out forwards;
    background-color: $just-white;
    padding: 2rem 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-family: 'Gotham-Book';
    font-weight: bolder;
    margin-bottom: 0.5rem;
    color: $just-black;
}

.form-field {
    padding: 0.75rem;
    border: 1px solid $just-black;
    font-family: 'Gotham-Book';
    font-size: 1rem;
    color: $just-black;
}

.form-field[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.form-field:focus {
    outline: none;
    border-color: $sunny-yellow;
    box-shadow: 0 0 5px $sunny-yellow;
}

// Socials 
.socials {
    z-index: 1;
}

.svg-inline--fa {
    font-size: 3rem;
    padding: 0.4rem;
    width: 40px;
}

.svg-inline--fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #1877F2;
    color: white;
}

.fa-x-twitter {
    background: #000000;
    color: white;
}

.fa-whatsapp {
    background: #25D366;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-bluesky {
    background: #87CEEB;
    color: white;
}

.fa-signal-messenger {
    background: #1877F2;
    color: white;
}

.fa-telegram {
    background: #0088cc;
    color: white;
}

.fa-envelope {
    background: #cc165c;
    color: white;
}

.fa-copy {
    background: #6228d7;
    color: white;
}

.fa-camera {
    background: #2b78dd;
    color: white;
}

// Podcast Block Grid
.latest-podcasts {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 10px;
    background-color: #f4f4f9;
}

.latest-podcasts h2 {
    font-size: 32px;
    margin-bottom: 20px;

    @media screen and (max-width: $mobile-width) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

/* podcasts Container */
.podcasts-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font-family: 'Gotham-Book';
}

.podcasts-grid {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px 0;
    max-width: 100%;

    audio {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
}

.podcasts-grid::-webkit-scrollbar {
    display: none;
}

.podcasts-card {
    min-width: 300px;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: inherit;
}

.podcasts-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.podcasts-card p {
    font-size: 14px;
    color: #666;
}

.podcasts-card hr {
    border: none;
    border-top: 2px solid $sunny-yellow;
    margin: 10px 0;
}

.podcasts-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.podcasts-card i {
    font-size: small;
}

.podcasts-header {
    font-family: 'Gotham-Black';
    text-transform: uppercase;
    border-bottom: 2px solid $just-black;
    display: flex;
    gap: 8px;

    h2 {
        padding-top: 20px;
    }

    .arrow {
        justify-content: center;
    }
}

// Podcast Player 
.player-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    display: flex;
}

.player {
    width: 100%;

    @media (max-width: $mobile-width) {
        width: 60%;
        max-width: 350px;
        min-width: 300px;
    }
}

.img-fluid {
    width: 100%;
    height: auto;

    @media (max-width: $mobile-width) {
        width: 60%;
        max-width: 350px;
        min-width: 300px;
        height: auto;
    }
}