APP_URL=http://localhost:3000

STRAPI_CMS_URL=http://localhost:1337
STRAPI_API_TOKEN=<STRAPI_API_TOKEN>

#Printify API 
PRINTIFY_SHOP_ID=<SHOP_ID>
PRINTIFY_API_KEY=<API_KEY>
PRINTIFY_ENDPOINT=https://api.printify.com
PRINTIFY_MODE=testing # production

# MOLLIE
MOLLIE_ENDPOINT=https://api.mollie.com
MOLLIE_API_KEY=<API_KEY>

# Email
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USERNAME=<SMTP_USERNAME>
SMTP_PASSWORD=<SMTP_PASSWORD>