APP_URL=http://localhost:3000

STRAPI_CMS_URL=http://localhost:1337
STRAPI_API_TOKEN=<STRAPI_API_TOKEN>

# Email
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USERNAME=<SMTP_USERNAME>
SMTP_PASSWORD=<SMTP_PASSWORD>